body {
  background: #333;
  color: #fff;
  text-align:center; }

#loader{
	
		width: 380px;
	height: 380px;
	position: fixed;
	left: 43%;
	top: 40%;
	background-image: url(img3.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;


}
#loader2{
		width: 380px;
	height: 380px;
	position: fixed;
	left: 43%;
	top: 40%;
	background-image: url(img2.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;

}
#mydiv{
	display:none
}
.navbar {
  border-bottom: #128ed6 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("back3.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  
  #home-section2 {
  background: url("back3.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px; 
  }

  #home-section .home-inner {
    padding-top: 150px; }
    
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
    
      #home-section2 .home-inner {
    padding-top: 150px; }
    
  #home-section2 .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px; }
    
      #home-section3 {
  background: url("back3.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1700px; 
  }
     #home-section3 .home-inner {
    padding-top: 150px; }
    
  #home-section3 .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1700px; }
    
          #home-section4 {
  background: url("back3.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1780px; 
  }
     #home-section4 .home-inner {
    padding-top: 100px; }
    
  #home-section4 .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1780px; }



  #home-section .card-form {
    opacity: 0.8; }
      #home-section3 .card-form {
    opacity: 1; }
    #home-section3 .deal {
    opacity:1; }



#explore-section .fa, #share-section .fa {
  color: white;
  background-color: #333;
  padding: 4px;
  border-radius: 5px; }

#create-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px; }
  
  #tab{
  font-size:large;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
  
  
	
}
#imh2{
	
	border:5px solid grey;
	
}
#imh2:hover{
	
	border:5px solid white;
}
#imh{
	border:3px solid grey;
	width:100%;
	height:100%;
}
#imh:hover{
	border:3px solid white;
}

div.desc {
  padding: 15px;
  text-align: center;
}
